@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&family=Noto+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-light: #ffffff;
  --color-surface-dark: #182e1e;
  --color-text-main: #111813;
  --color-text-muted: #61896f;
  --color-card-light: #ffffff;
  --color-card-dark: #1a2e22;

  --font-display: "Plus Jakarta Sans", "sans-serif";
  --font-body: "Noto Sans", "sans-serif";
}

/* Enable class-based dark mode */
@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-main dark:text-white font-display antialiased;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-white/20 rounded-full;
}